$desa-color: #0e9100;
$navbar-dark-color:                 rgba($white, .95);
$navbar-dark-hover-color:           $white;

$navbar-light-color:                 rgba($black, .90);
$navbar-light-hover-color:           $black;

$navbar-light-brand-color:                $white;
$navbar-light-brand-hover-color:          $white;
$navbar-dark-brand-color:                 $navbar-dark-active-color;
$navbar-dark-brand-hover-color:           $navbar-dark-active-color;

$link-decoration: none;
$link-color: $desa-color;
$link-hover-color: $desa-color;


$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.1;
$h6-font-size: $font-size-base;