$desa-color: #0e9100;
$navbar-dark-color:                 rgba($white, .95);
$navbar-dark-hover-color:           $white;

$navbar-light-color:                 rgba($black, .90);
$navbar-light-hover-color:           $black;

$navbar-light-brand-color:                $white;
$navbar-light-brand-hover-color:          $white;
$navbar-dark-brand-color:                 $navbar-dark-active-color;
$navbar-dark-brand-hover-color:           $navbar-dark-active-color;

$link-decoration: none;
$link-color: $desa-color;
$link-hover-color: $desa-color;