.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
	background-color: $light;
    padding: 15px 0px;
	box-shadow: $box-shadow-sm;
	&>p, table {
		margin: 0px $paragraph-margin-bottom $paragraph-margin-bottom $paragraph-margin-bottom;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
